body {
  margin:0;
}

#canvas {
  display : block;
  width : 100%;
  height : 100%;
  margin : auto;
  padding : 0;
  border : none;
  background-color : red;
  background:url(img/square.png)
}

#info{
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: monospace;
  padding: 1em;
}

.button{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top:2px;
  text-align:center;
  padding:2px;
  cursor:pointer;
  border:1px solid white;
  display: block;
}
.button:hover{
  background:gray
}

#fullscreen{
  border:1px solid greenyellow;
}
#fullscreen:hover{
  background:green
}

#reset{
  border:1px solid red
}

#reset:hover{
  background:rgb(131, 0, 0)
}

#play{
  border:1px solid yellow
}
#play:hover{
  background:rgb(105, 105, 0)
}

#myEnterVRButton{
  background: rgb(32, 54, 58);
  display: table-cell;
  height: 100px;
  width: 200px;
  z-index: 100;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 300%;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: lime 3px solid;
  bottom: 10px;
  right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#myEnterVRButton:hover{
  background:darkgreen;
}
